<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Add</p>

    <form action="/manager" method="post">
        <label for="">FullName</label>
        <br>
        <input type="text" name="fullName">
        <br>
        <label for="">Phone</label>
        <br>
        <input type="text" name="phone">
        <br>
        <label for="">Email</label>
        <br>
        <input type="text" name="email">
        <br>

        <label for="">Band Id</label>
        <br>
        <input type="text" value="1" name="BandId">

        <input type="submit">
    </form>

</body>

</html>